<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <logging>
        <log type="testdox-text" target="php://stdout"/>
    </logging>
    <testsuites>
        <!--<testsuite name="BlogCodwelt General">
            <directory>tests</directory>
        </testsuite>-->
        <testsuite name="Routes">
            <directory suffix=".php">tests/Routes</directory>
        </testsuite>
        <testsuite name="Posts">
            <directory suffix=".php">tests/Posts</directory>
        </testsuite>


    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_URL" value="http://localhost"/>
        <env name="APP_KEY" value="base64:M1igrxNfAWlVGyxxDholHqvVqvtPjAzCoJ+2/ILAVPw="/>
    </php>
</phpunit>